{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="venue">
    <div class="header-content">
        <div class="header-content-inner">
        <!--    <div class="container">
        <div class="row">-->
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Venue</h2>
            </div>
        </div>
        <div class="row">
            <div class="venue-map text-center">
                <mapclick class="">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.365444364488!2d21.042347615797517!3d52.254908579764866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc381f3e2d5f%3A0x158b61103ac9b198!2sCentrum+Praskie+Koneser!5e0!3m2!1sen!2spl!4v1453924671942"
                            width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </mapclick>
            </div>
        </div>
    </div>
</section>
